LandscapeDesignClient/LandscapeDesignClient/Connected Services/LandscapeDesignReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LandscapeDesignServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LandscapeDesignServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidUserFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InvalidCustomFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidUserFault" nillable="true" type="tns:InvalidUserFault" />
  <xs:complexType name="InvalidCustomFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidCustomFault" nillable="true" type="tns:InvalidCustomFault" />
  <xs:complexType name="InvalidProjectsFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InvalidCustomFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidProjectsFault" nillable="true" type="tns:InvalidProjectsFault" />
  <xs:complexType name="InvalidProjectItemFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InvalidCustomFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidProjectItemFault" nillable="true" type="tns:InvalidProjectItemFault" />
</xs:schema>